/* MENÚ_NAV */ 
header {
    top: 0;
    left: 0;
    z-index: 2;
  }
  .menu {
    padding: 15px 40px;
    width: 100%;
    background-color: #6D3E8C;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-expand-lg {
    width: 100%;
  }
  .navbar-collapse {
    justify-content: end;
  }
  .nav-item {
    padding: 0px 20px;
    text-align: end;
  }
  .nav-link {
    font-size: 120%;
  }