/* CALCOSYVINILOS.HTML */

  /* MAIN_CALCOSYVINILOS */

  .cyv__principal {
    @include pages_principal;

    img {
      @include pages_principal_img;
    }
    .cyv__content {
      padding: 50px;
      width: $ancho_total;
      vertical-align: top;
      text-align: center;
    
      h1 {
        @include pages_principal_h1;
      }
    }
  }

  .cyv__calco {
    display: flex;
    width: $ancho_total;
  
    .cyv__product__calco {
      width: 50%;
      padding: 50px;
      text-align: end;

      h4 {
        font-size: 200%;
        font-weight: bold;
      }
    }
    .calco_img {
      width: 50%;
      padding: 50px;

      img {
        width: $ancho_total;
        object-fit: cover;
        height: 370px;
      }
    }
  }

  .cyv__vinilo {
    display: flex;
    width: $ancho_total;
  
    .vinilo_img {
      width: 50%;
      padding: 50px;
    
      img {
        width: $ancho_total;
        object-fit: cover;
        height: 300px;
      }
    }
    .cyv__product__vinilo {
      width: 50%;
      padding: 50px;
      
      h4 {
        font-size: 200%;
        font-weight: bold;
      }
    }
  }