/* CONTACTO.HTML */

  /* MAIN_CONTACTO */

  .contacto__principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    h1 {
      width: 100%;
      font-size: 350%;
      font-weight: bold;
      text-align: center;
      padding-top: 50px;
    }
    &__content {
      padding: 65px;
      width: 100%;
      text-align: center;
    }
    h2 {
      font-size: 250%;
      font-weight: bold;
    }
    .container_form {
      display: flex;
      width: 100%;
    
      .row {
        justify-content: center;
        width: 100%;
      
        .col-12 {
          width: 80%;
        
          .form-label {
            padding-top: 20px;
          }
        }
        .col-6 {
          width: 40%;
        }
        .col-3 {
          width: 20%;
        }
        .form-check {
          padding-top: 20px;
        }
        .btn-primary {
          margin-top: 20px;
          background-color: $main_color;
          border: none;
        }
      }
    }
  }

  .contacto__sucursal {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      padding: 50px;
      width: 100%;
      text-align: center;
    
      h4 {
        font-size: 250%;
        font-weight: bold;
        text-align: center;
      }
    }
  
    iframe {
      width: 100%;
      height: 350px;
      padding: 0px 50px 100px 50px;
    }
  }