/* FOTOGRAFIA.HTML */

  /* MAIN_FOTOGRAFIA */

  main {
    overflow: $overflow;
  }

  .fotografia__principal {
    @include pages_principal;

    img {
      @include pages_principal_img;
    }

    .fotografia__content {
      padding: 60px 50px 0px 50px;
      width: $ancho_total;
      vertical-align: top;
      text-align: center;
    
      h1 {
        @include pages_principal_h1;
      }
    }
  }

  .cards__fotografia {
    display: flex;
    text-align: center;

    .card__fotografia__body {
      padding: 60px 40px;
      width: 50%;
      text-align: center;
      display: inline-block;
    
      h4 {
        font-size: 200%;
        font-weight: bold;
        padding-bottom: 20px;
      }

      img {
        @include pages_principal_img;
        padding-top: 20px;
      }
    }
  }