/* INDEX.HTML */

  /* MAIN_INDEX */

  .article_container {
    display: flex;
    width: $ancho_total;
  
    &_main {
      width: 50%;
      padding: 50px;
      text-align: center;
  
      h1 {
        font-size: 300%;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
      }
    }
    &_ph {
      width: 50%;
      padding: 50px;
    
      img {
        width: $ancho_total;
        height: 354px;
        object-fit: cover;
      }
    }
  }

  .article_historia {
    display: flex;
    width: $ancho_total;
  
    .imagenes_h {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 40px;
    
      img {
        height: 250px;
        object-fit: cover;
        padding: 15px;
      }
    }
    &_content {
      padding: 40px;
      width: 40%;
      text-align: start;
    
      h2 {
        font-size: 200%;
        font-weight: bold;
        text-align: left;
      }
    }
  }

  .cards__title {
    text-align: center;
    color: #ffffff;
    background-color: $main_color;
    padding: 40px 0px 15px 0px;
  
    h3 {
      font-size: 250%;
      font-weight: bold;
    }
  }
  .cards-container {
    display: flex;
    justify-content: space-around;
    background-color: $main_color;
    width: $ancho_total;
    padding: 20px 20px 50px 20px;

    .card {
      width: 25%;

      &-title {
        font-size: 150%;
        text-align: center;
        font-weight: bold;
        color: #404040;
        text-decoration: none;
        padding: 10px 0px;
      }
      &-text {
        text-align: center;
      }
    }
  }