/* MEDIA QUERIES */

  /* Mobile */
  @media only screen and (max-width: 576px){
    /* esilos generales */
    main {
      width: $ancho_total;
    }
    .menu {
      flex-direction: column;
    }
    .menu nav ul {
      font-size: 77%;
    }
    footer {
      flex-direction: column;
      align-items: center;
    }
    footer p {
      padding-top: 20px;
    }
  /* index */
    .article_container {
      flex-direction: column;
      text-align: center;
      width: $ancho_total;
    
      &_main {
        width: $ancho_total;
        
        h1 {
          width: $ancho_total;
        }
      }
      &_ph {
        width: $ancho_total;
      }
    }
    .article_historia {
      flex-direction: column-reverse;
      text-align: center;
      width: $ancho_total;
      
      .imagenes_h {
        width: $ancho_total;
      }
      &_content {
        width: $ancho_total;
        text-align: center;

        h2 {
          text-align: center;
        }
      }
    }
    .cards-container {
      flex-direction: column;
      width: $ancho_total;
      align-items: center;
    
      .card {
        width: 80%;
        margin: 20px 0px;
      }

      .card-img-top {
        height: 250px;
        object-fit: cover;
      }
    }
  /* fotografia */
    .fotografia__principal {
      width: $ancho_total;
      
      img {
      height: 225px;
      width: $ancho_total;
      }
    }
    .cards__fotografia {
      display: flex;
      flex-direction: column;
      width: $ancho_total;
    
      .card__fotografia__body {
        padding: 60px 40px 30px 40px;
        width: $ancho_total;
      }
    }
    /* calcosyvinilos */
    .cyv__principal {
      width: $ancho_total;
      
      img {
      height: 225px;
      width: $ancho_total;
      }
    }

    .cyv__calco {
      flex-direction: column;
      width: $ancho_total;
    
      .cyv__product__calco {
        width: $ancho_total;
        text-align: center;
      }

      .calco_img {
        width: $ancho_total;

        img {
          width: $ancho_total;
          object-fit: cover;
          height: 370px;
        }
      }
    }

    .cyv__vinilo {
      flex-direction: column-reverse;
      width: $ancho_total;
    
      .vinilo_img {
        width: $ancho_total;

        img {
          width: $ancho_total;
          object-fit: cover;
          height: 370px;
        }
      }

      .cyv__product__vinilo {
        width: $ancho_total;
        text-align: center;
      }
    }

  /* impresión */

    .imp__principal {
      width: $ancho_total;
      
      img {
      height: 225px;
      width: $ancho_total;
      }
    }

    .cards__imp {
      width: $ancho_total;

      .card__imp__body {
        width: $ancho_total;
      }
    }

    .cards__imp2 {
      width: $ancho_total;
      
      .card__imp2__body {
        width: $ancho_total;

        img {
          width: 70%;
        }
      }
    }
  /* contacto */
    .Campo {
      width: $ancho_total;
    }
  }