/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background-color: #404040;
    padding: 60px; 
    align-items: center;
  
      ul {
      list-style-type: none;
      text-align: left;
      display: inline;
      padding: 0px;
      
          li {
          color: #909090;
          margin: 15px;
          font-weight: bold;
          display: inline;
          
              a {
              color: #909090;
              text-decoration: none;
                
                .bi-whatsapp {
                    font-size: $size_icons;
                }
                .bi-instagram {
                    font-size: $size_icons;
                }
                .bi-facebook {
                    font-size: $size_icons;
                }
              }
          }
      }
      
      p {
      color: #757575;
      text-align: right;
      text-decoration: none;
      margin: 0px;
      }
  }